summary {
  background-color: var(--keralty-main-blue);
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: var(--keralty-medium-font);
  color: #fff;
  margin: 10px auto;
}

.icon-span {
  margin-left: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tipifications-sections {
  display: flex;
  flex-direction: row;
  width: 80vw;
}

.row-form {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 20px 0;
}

.tip-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.observations-cont {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: auto;
}

.button-section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
